@charset "UTF8";

/* Modelo para tablets */
@media (min-width: 768px) {
  span#burguer {
    display: none;
  }

  nav {
    display: block;
  }

  nav li {
    display: inline-block;
  }

  main {
    width: 700px;
  }
}
