@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap");

/* Paleta de cores:
    vermelho: #401201
    azul: #2D4059
    azul claro: #C1D4D9

    glass:
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
}

}
*/

:root {
  --vermelho: #401201;
  --azul: #2d4059;
  --azul-claro: #c1d4d9;
}

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--azul) url(../images/bg_login.jpg) no-repeat center center;
  background-size: cover;
  color: white;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  /*estilo glass*/
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /**/
  width: 70%;
  height: 70%;
}

section#login > div#image {
  display: block;
  background: white url(../images/natureza.jpg) no-repeat center center;
  background-size: cover;
  height: 200px;
}

section#login > div#forms {
  display: block;
  padding: 20px;
}

section#login > div#forms > h1 {
  text-align: center;
  margin: 30px;
}

div.campo {
  position: relative;
  margin-bottom: 20px;
}

div.campo > input {
  width: 100%;
  height: 40px;
  padding: 20px 45px 20px 20px;
  padding: 20px;
  background-color: rgba(253, 253, 253, 0);
  color: white;
  border: 1px solid white;
  border-radius: 25px;
}

div.campo > input:focus {
  outline: none;
  box-shadow: none;
}

input::placeholder {
  color: white;
}

.campo span {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%);
}

.campo > label {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #c1d4d9;
}

#check {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
  color: white;
}

#check label {
  display: flex;
  align-items: center;
  gap: 10px;
}

#check label input {
  accent-color: white;
}

input[type="submit"] {
  background-color: white;
  font-weight: 500;
  margin: 20px 0px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
}

input[type="submit"]:hover {
  background-color: #ffffff48;
  border: 1px solid white;
  color: white;
  transform: scale(1.01);
  transition: 0.3s ease-in-out;
}

input[type="submit"]:active {
  transform: scale(0.97);
}

form > p {
  text-align: center;
  font-size: 0.9em;
  padding-top: 20px;
}
